/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Potta+One&display=swap');

/* Update headers */

h2 {
  font-family: "Potta One";
  font-size: 40px;
  color: purple;
}

h3 {
  font-family: "Lobster";
  font-size: 20px;
  color: magenta;
}

body {
  font-family: "Potta One";
  font-size: 18px;
  color: teal;
  background-color: yellow;
}
